.main-content.lijsten {

  /* General Styles */
  h4 {
    margin-top: 0;
    margin-bottom: 1em;
  }
  form {
  	select {
  		width: 50%;
  	}
  }
  
  form.add-item, form.add-list {
    .form-item {
      &.col-md-3 {
        padding-left: 0;
      }
    }
  }
  
  /* Add an item */
  form.add-item {
    ul.books {
      margin-bottom: 2em;
      padding: 0;
      li.book {
        list-style: none;
        margin: 0;
        margin-bottom: 1em;
        padding: 0;
        .title {
          a {
            color: $blue;
            font-weight: bolder;
          }
        }
        .author {
          a {
            color: $blue;
          }
        }
      }
    }
  }
  
  /* List table */
  .table.lijsten {
    .row {
      text-align: center;
      .title {
        text-align: left;
      }
    }
  }
  
  /* List overview */
  ul.overview-items {
    padding: 0;
    li.overview-item {
      margin: 0;
      padding: 2em 0;
      list-style: none;
      border-top: 1px solid $grey;
      &.last {
        border-bottom: 1px solid $grey;
      }
      img {
        max-width: 100%;
      }
      .title, .author, .edited, .description {
        margin-bottom: 0.4em;
      }
      .rating {
        background: url(../images/stars.png) no-repeat left top;
        height: 18px;
        &.one {
          background-position: left -20px;
        }
        &.two {
          background-position: left -42px;
        }
        &.three {
          background-position: left -62px;
        }
        &.four {
          background-position: left -84px;
        }
        &.five {
          background-position: left -105px;
        }
      }
    }
  }
  
  /* Main page */
  ul.overview-items {
    li.overview-item {
      position: relative;
      .remove {
		position: absolute;
		top: 5px;
		right: 5px;
	    a {
		  text-indent: -999em;		    
		  display: block;
	    }
		width: 20px;
		height: 20px;
		background: url(../images/verwijderen.png) no-repeat left top;
      }
      .sort {
        position: absolute;
        top: 0;
        left: 0;
      }
      .status {
        position: relative;
        margin-bottom: 50px;
        width: 100%;
        ul {
          background: $bgMainContent;
          border: 1px solid $grey;
          position: absolute;
          z-index: 100;
		  padding: 0;
		  width: 100%;
		  .arrow {
		    position: absolute;
		    right: 5px;
		    top: 10px;
		    width: 15px;
		    height: 10px;
		    text-indent: -999em;
		    background: url(../images/arrow.png) no-repeat left top;
		    cursor: pointer;
		  }
          li {
            margin: 0;
            padding: 0;
            list-style: none;
            border-bottom: 1px solid white;
			height: 35px;
			line-height: 35px;
			display: none;
			padding-left: 5px;
			&.first {
			  display: block;
			}
            &.last {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}